<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:3000/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery.js"></script>
    <script src="js/main.js"></script>
    <script src="/scripts/web3.min.js"></script>
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        <input type="text" name="email" placeholder="email" id="rEmail">
        <input type="text" name="username" placeholder="username" id="rUsername">
        <input type="password" name="password" placeholder="password" id="rPass">
        <button type="button" id="btnRegister">Register</button>
    </form>
    <br>
    <button id="connMM">Connect Metamask</button>
    <p><span>your wallet: </span><span id="wallet"></span></p>
    <br><br><br>

    <input type="number" id="amount"> eth
    <button id="payment">Payment</button>
</body>
</html>