<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/header') %>
    <title>Document</title>
</head>
<body>
    <!-- <header>
        <%- include('../partials/header') %> 
    </header> -->

    <h2>detail <%= id %> </h2>
    <h1>ADUMA_adhfafuahfafhhas</h1>


    <!-- <footer>
        <%- include('../partials/footer') %> 
    </footer> -->
    
</body>
</html>